#wrapper {
  margin: 10% auto; 
  width: 100%; 
  max-width: 800px;
}

#hdcomments {
  border:1px solid #eee;
  padding: 40px;
}
hdcomments *,
hdcomments *:before,
hdcomments *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
 
#hdc_comment_contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40;
  margin-top: 20px;
}

#hdc_comment_footer {
  display: grid;
  grid-template-columns: 1fr 80px;
  align-items: center;
}

#hdc_reaction_title {
  display: inline-blocK;
}
.hdc_reaction {
  padding: 10px;
  border: 1px solid transparent; 
  cursor: pointer;

}

.hdc.raction:hover {
  border: 1px solid #CCC;
}

 .hdc_label {
  display: block;
  margin-bottom: 8px;
 }
 
 .hdc_input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ccc;

 }
#hdc_submit {
  background: #222;
  padding: 12px 16px;
  color:#fff; 
  border:none;
  opacity: 0.4; 
}
.hdc_submit_enabled {
  opacity: 1 !important;
}
